.entryList {
  width: 100%;
}

.entryList .data {
  width: 95%;
  display: inline-flex;
}

.entryList .data > div {
  margin-right: 0;
  width: 100%;
}

.entryList .deleteCol {
  width: 20px;
}

.addButton {
  width: 20px;
  margin-bottom: 6px;
}

.addButton > a {
  background-image: url('../../../assets/images/ico_add.gif');
  background-repeat: no-repeat;
  padding: 1em;
  background-position: center;
}

.wrapperContainer {
  border: 1px solid #cccccc;
  padding: 6px;
  margin-bottom: 6px;
}
