.container {
  text-align: center;
  width: 100%;
  float: left;
  border-bottom: 1px solid rgb(221, 221, 221);
  border-right: 1px solid rgb(221, 221, 221);
  border-left: 1px solid rgb(221, 221, 221);
  border-top: 0px;
}

.containerTable {
  color: #4b4a4b;
  border-top: 1px;
  border-bottom: 0;
  position: relative;
  top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}

.header {
  margin-bottom: 0px;
}

.row {
  border-top: 0;
}

.thClassName {
  border-right: none !important;
  border-left: none !important;
  color: #7f8fa4;
  font-weight: normal;
}

.column_5 {
  width: 5%;
  border-right: none !important;
  border-left: none !important;
}

.column_7 {
  width: 7%;
  border-right: none !important;
  border-left: none !important;
}

.column_8 {
  width: 8%;
  border-right: none !important;
  border-left: none !important;
}

.column_10 {
  width: 10%;
  border-right: none !important;
  border-left: none !important;
}

.column_15 {
  width: 15%;
  border-right: none !important;
  border-left: none !important;
}

.column_25 {
  width: 25%;
  border-right: none !important;
  border-left: none !important;
}

.column_30 {
  width: 30%;
  border-right: none !important;
  border-left: none !important;
}

.column_40 {
  width: 40%;
  border-right: none !important;
  border-left: none !important;
}

.column_50 {
  width: 50%;
  border-right: none !important;
  border-left: none !important;
}

.status_draft {
  color: #c84545;
}

.status_validated {
  color: #2e6fa1;
}

.status_unvalidated {
  color: #70a628;
}

.uncynced {
  font-style: italic;
}

.clearFilters {
  cursor: pointer;
  color: #70a628;
  float: right;
  font-size: 12px;
  font-weight: bold;
  right: 13px;
  position: relative;
  top: -30px;
}
