.container {
  text-align: center;
  width: 100%;
  float: left;
  border-bottom: 1px solid rgb(221, 221, 221);
  border-right: 1px solid rgb(221, 221, 221);
  border-left: 1px solid rgb(221, 221, 221);
  border-top: 0px;
}

.containerTable {
  color: #014e86;
  border-top: 1px;
  border-bottom: 0;
  position: relative;
  top: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  margin-bottom: 0px;
}

.row {
  border-top: 0;
}

.empty_column {
  width: 2%;
}
