.container {
  position: absolute;
  /*left: 10px;*/
  text-align: center;
  width: 100%;
  min-height: 100%;
  margin-bottom: -30px;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.navbar {
  height: 30px;
  background-color: #3d5166;
  color: #FFF;
  top: 0;
  /*left: -10px;*/
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar_left_side {
  float: left;
  padding-top: 5px;
}

.main_menu {
  float: left;
  position: relative;
  top: 30px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

