.container {
  text-align: center;
  width: 100%;
  min-height: 100%;
  margin-bottom: -30px;
  font-family: 'open_sansregular', sans-serif;
}
.countryFlag{
  border: 0;
  width:30px;
  height: 20px;
  cursor: hand;

}
.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.navbar {
  height: 30px;
  background-color: #3d5166;
  color: #FFF;
  top: 0;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  padding-top: 5px;
}

.navbar button, .navbar a {
  text-decoration: none;
  color: white;
}

.navbar button::selection, .navbar button:hover, .navbar button:focus, .navbar a:hover, .navbar a:focus {
  color: #c7d4db !important;
}

.navbar_left_side {
  float: left;
  padding-left: 5px;
}

.navbar_right_side {
  float: right;
  margin-right: 80px;
}

.logout_link {

}

.main_menu {
  /* float: left; */
  position: relative;
  top: 30px;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

.logout_container {
  margin-bottom: 2px;
}

.logout_container a {
  margin-right: 5px;
}

.userInfo {
  float: right;
}

@media print {
  .rc_menu {
    visibility: hidden !important;
    display: none !important;
  }

  .main_menu {
    visibility: hidden !important;
    display: none !important;
  }

  .logout_link {
    visibility: hidden !important;
    display: none !important;
  }
}
