.contactForm > div > div {
  width: 100%;
}

.orgsList {
  width: 100%;
}

.contactForm .orgsList > div > span > div {
  border: 1px solid #cccccc;
  padding: 6px;
}

.contactForm .phoneList {
  padding: 0;
  width: 100%;
}

.phoneList > div {
  width: inherit;
  float: left;
}

.phoneContainer {
  border: 1px solid #cccccc;
  padding: 6px;
}

.phoneExtensionCol {
}

.phoneExtension > span > input {
  width: 100px;
  margin-left: 6px;
}
