.grid {
  border-bottom: 1px solid grey;
  width: 100%;
  margin-bottom: 10px;
}

.delete {
  background-image: url('../../../../../assets/images/ico_del.gif');
  background-repeat: no-repeat;
  padding: 1em;
  position: relative;
  top: 40px;
}
