@import "../resources/css/bootstrap.css";
@import "../resources/css/bootstrap-theme.css";
@import "../node_modules/rc-menu/assets/index.css";

* {
  margin: 0;
}

html, body {
  height: 100%;
}

#root {
  height: 100%;
}

.rc-menu-submenu-title {
  padding: 5px 15px !important;
}

.rc-menu-vertical > .rc-menu-item {
  padding: 5px 0px 5px 0px !important;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 0;
}
