.searchContainer {
    margin-right: 10px;
    min-width: 370px;
    width: 100%;
}

.searchPanel {
    display: inline-block;
    padding: 0;
    border-radius: 4px;
    border-width: 1px;
    border-color: #cccccc;
    border-style: solid;
    width: 100%;
    min-width: 370px;
    max-height: 300px;
    overflow: auto;
}

.item {
    text-align: left;
    display: block;
    border-width: 0px;
    /*border-color: #cccccc;
    border-style: solid;*/
    padding: 5px;
    width: 100%;
    background-color: inherit;
    white-space: pre;
}

.item:hover {
    background-color: lightgrey;
}
