.message_container{
  position: fixed;
  right: 10px;
  top: 10px;
  max-height: 90vh;
  width: 300px;
  z-index: 1051;
}

.alert_wrapper{
  transition: max-height .5s cubic-bezier(0.19, 1, 0.22, 1),
              transform .5s cubic-bezier(0.19, 1, 0.22, 1),
              opacity .1s;
  overflow: hidden;
  max-height: 300px;
  transform: translateX(350px);
  text-align: left;
  cursor: pointer;
}

.alert_wrapper.mounted{
  transform: translateX(0);
}

.alert_wrapper.mounted.user_dismissed{
  transform: translateX(350px);
}

.alert_wrapper.unmounting{
  max-height: 0;
  pointer-events: none;
}

.no_modal {
}

.no_modal.body {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.no_modal.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
